<form #registerForm="ngForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Username" name="username"
      [(ngModel)]="registerModel.username"  
    >
  </div>

  <!-- <div class="form-group">
    <label for="favouriteValue">What is your favourite value?</label>
    <select class="form-control" id="favouriteValue">
      <option *ngFor="let item of valuesFromHome" [value]="item.id">{{item.name}}</option>
    </select>
  </div> -->

  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password" name="password"
      [(ngModel)]="registerModel.password"
    >
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success mr-2" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>

</form>